{% extends 'BlogApp/base.html' %}


{% block js %}
{% endblock js %}


{% block title %}
<title>Update Page</title>
{% endblock title %}


{% block body %}

<div class="container p-3 text-center bg-warning rounded-3 shadow">
    <h1 class="display-5">Update Blog</h1>
</div>


<div class="container mt-5 w-75">

    <form action="{% url 'updateblog' record.id %}" method="post">
        {% csrf_token %}

        <!-- title div -->
        <div class="mb-3">
            <label for="title">Update Blog Title</label>
            <input type="text" name="title" id="title" class="form-control" value="{{record.title}}">
        </div>

        <!-- description  div -->
        <div class="mb-3">
            <label for="desc">Update Blog Description</label>
            <textarea name="desc" id="" cols="30" rows="10" class="form-control">{{record.desc}}</textarea>
        </div>


        <!-- button div -->
        <div class="mb-3 text-center">
            <input type="submit" value="Update blog" class="btn btn-success">
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        </div>


    </form>
</div>

{% endblock body %}